<div class="row container-fluid">
  <div class="col-md-12">
    {{#each}}
      <li class="row own-properties">
        <div class="col-md-3 thumbnail">
          <img data-src="holder.js/90x90" {{bind-attr src="image_url"}}/>
        </div>
        <div class="col-md-9">
          <p>
            {{bhk}} BHK, {{furnish_type}}
            {{#link-to 'listings.edit' this }}
              Edit
            {{/link-to}}
          </p>
          <h3>
            <span class="rupee-symbol"></span>
            <b>{{rent}}</b>
          </h3>
          <table class="details table table-condensed">
            <tr>
              <td>Property</td>
              <td>{{property_type}}</td>
            </tr>
            <tr>
              <td>Build-Up Area</td>
              <td>{{buildup_area}} sq.ft</td>
            </tr>
            <tr>
              <td>Bathrooms</td>
              <td>{{bathrooms}}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{address}}</td>
            </tr>
            <tr>
              <td>Posted</td>
              <td>{{created_at}} ago</td>
            </tr>
          </table>
        </div>
      </li>
    {{else}}
      <h3 style="text-align: center;">You don't have any property Listed</h3>
      <h3 style="text-align: center;">{{#link-to 'listings.new'}}Click here{{/link-to}} to add a new listing</h3>
    {{/each}}
  </div>
</div>
