<div class="col-md-3 thumbnail" style="top: 20px;">
    <div class="gradient"></div>
    <img data-src="holder.js/90x90" {{bind-attr src="property_listing.image_url"}}/>
</div>
<div class="col-md-9">
  {{#if current_user.is_landlord}}
    <p>
      {{property_listing.bhk}} BHK, {{property_listing.furnish_type}}
      {{#link-to 'listings.edit' property_listing }}
        Edit
      {{/link-to}}
    </p>
  {{else}}
    <h2>{{property_listing.bhk}} BHK, {{property_listing.furnish_type}}</h2>
  {{/if}}
  <h3>
    <span class="rupee-symbol"></span>
    <span>{{property_listing.rent}}</span>
  </h3>
  <h5 class="text-muted">
    Security Deposit:
    <span class="rupee-symbol"></span>
    <span>{{property_listing.security_deposit}}</span>
  </h5>
  {{#unless current_user.is_landlord}}
    <div class="btn-dark-blue contact contact-section new-btn" {{action 'contact_agent'}}>
      <i class="icon icon-contact-filled"></i>
      <span class="text">Contact Landlord</span>
    </div>
  {{/unless}}
  <table class="details table table-condensed">
    <tr>
      <td>Property</td>
      <td>{{property_listing.property_type}}</td>
    </tr>
    <tr>
      <td>Build-Up Area</td>
      <td>{{property_listing.buildup_area}} sq.ft</td>
    </tr>
    <tr>
      <td>Bathrooms</td>
      <td>{{property_listing.bathrooms}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{property_listing.address}}</td>
    </tr>
    <tr>
      <td>Posted</td>
      <td>{{property_listing.created_at}} ago</td>
    </tr>
  </table>
</div>
