<div class="col-md-3 thumbnail" style="top: 20px;">
    <div class="gradient"></div>
    <img data-src="holder.js/90x90" {{bind-attr src="propertyListing.imageUrl"}}/>
</div>
<div class="col-md-9">
  {{#if currentUser.isLandlord}}
    <p>
      {{propertyListing.bhk}} BHK, {{propertyListing.furnishType}}
      {{#if propertyListing.isCreated}}
        {{#link-to 'listings.edit' propertyListing }}
          Edit
        {{/link-to}}
      {{/if}}
    </p>
  {{else}}
    <h2>{{propertyListing.bhk}} BHK, {{propertyListing.furnishType}}</h2>
    <span class='pull-right'> Posted by: {{propertyListing.poster.name}} ({{propertyListing.poster.email}})</span>
    <span class='pull-left'>Shortlisted By: 
      <a data-toggle="modal" data-target="#myModal">{{shortlistedCount}} {{pluralizeCount}}</a>
    </span>

    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Shortlisted Users</h4>
          </div>
          <div class="modal-body">
            <ul class="shortlisted_users">
              {{#each propertyListing.shortlistedUsers}}
                <li><b>{{name}}</b> ({{email}})</li>
              {{/each}}
            </ul>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  {{/if}}
  <h3 class="mgn-top-30">
    <span class="rupee-symbol"></span>
    <span>{{propertyListing.rent}}</span>
  </h3>
  <h5 class="text-muted">
    Security Deposit:
    <span class="rupee-symbol"></span>
    <span>{{propertyListing.securityDeposit}}</span>
  </h5>
  {{#unless currentUser.isLandlord}}
    <div class="btn-dark-blue contact contact-section new-btn" {{action 'contact_agent'}}>
      <i class="icon icon-contact-filled"></i>
      <span class="text">Contact Landlord</span>
    </div>
  {{/unless}}
  <table class="details table table-condensed">
    <tr>
      <td>Property</td>
      <td>{{propertyListing.propertyType}}</td>
    </tr>
    <tr>
      <td>Build-Up Area</td>
      <td>{{propertyListing.buildupArea}} sq.ft</td>
    </tr>
    <tr>
      <td>Bathrooms</td>
      <td>{{propertyListing.bathrooms}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{propertyListing.address}}</td>
    </tr>
    <tr>
      <td>Posted</td>
      <td>{{propertyListing.createdAt}} ago</td>
    </tr>
  </table>
</div>
