<div class="row">
  <h2>{{bhk}} BHK, {{furnish_type}}</h2>
  <h3>
    <span class="rupee-symbol"></span>
    <span>{{rent}}</span>
  </h3>
  <h5 class="text-muted">
    Security Deposit:
    <span class="rupee-symbol"></span>
    <span>{{security_deposit}}</span>
  </h5>
  <table class="details table table-condensed">
    <tr>
      <td>Property</td>
      <td>{{property_type}}</td>
    </tr>
    <tr>
      <td>Build-Up Area</td>
      <td>{{buildup_area}} sq.ft</td>
    </tr>
    <tr>
      <td>Bathrooms</td>
      <td>{{bathrooms}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{address}}</td>
    </tr>
    <tr>
      <td>Posted</td>
      <td>{{created_at}} ago</td>
    </tr>
  </table>
</div>
